body {
    font-family: var(--bs-body-font-family);
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.carousel-wrapper {
    width: 80%;
    overflow: hidden;
}



.carousel {
    display: flex;
    gap: 16px;
    transition: transform 0.5s ease-in-out;
    width: max-content;
}

.carousel-item {
    display: block;
    width: 250px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 0 !important;
}

.carousel-item img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
}

.carousel-item a {
    text-decoration: none !important;
}

.carousel-item h5 {
    font-size: 14px;
    margin: 10px 0;
    color: #212529 !important;
}

.carousel-item p {

    font-size: 16px;
    font-weight: bold;
    color: #212529 !important;
}

#prevBtn,
#nextBtn {

    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: #dddff1;
}


/* productdetail */

.img-fluid {
    width: 250px;
}

.pdp {
    margin: auto;
    max-width: 50rem !important;
}

.product-info-container {
    display: flex;
    /* Define o contêiner como flexível */
    align-items: flex-end;
    /* Alinha os itens ao início do contêiner */
    gap: 20px;
    /* Adiciona um espaço entre os itens */
}

.btn {
    font-size: 1.125rem;
    border: #a8f;
    border-radius: 12px;
    transition: 0.1s;
    background: #a8f;
    color: #fff;
    padding: 0.6em 1.2em;
}

.btn:hover{
    border: 2px solid #a8f;
    color: #5a0fa0;
}
    
/* popup */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }

  /* confirm */

  .confirmationProduct {
    width: 450px !important; 
  }

  .home{
    width: 450px;
  }

  
  